<!DOCTYPE html>
{%load static%}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/user.css'%}" type="text/css" />

    <!-- <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" /> -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-43">
      <button class="rectangle-parent">
        <button class="group-child"></button
        ><img
          class="vuesaxboldlogout-icon"
          alt=""
         
          src= "{% static 'images/vuesaxboldlogout.svg'%}"
        />
        <div class="logout">Logout</div></button
      ><input class="desktop-43-child" type="search" placeholder="Search" />
      <p class="menu">Menu</p>
      <a class="buy" id="buy">Buy</a><a class="sell" target="_blank">Sell</a
      ><a class="rent">Rent</a><a class="compare">Compare</a
      ><a class="settings" target="_blank">Settings</a
      ><img
        class="vuesaxboldsetting-2-icon"
        alt=""
        src= "{% static 'images/vuesaxboldsetting2.svg'%}"
      >
     
      
      <img class="desktop-43-item" alt="" src="{% static 'images/vector-11.svg
      '%}"/>
      <div class="desktop-43-inner"></div>
      <button class="rectangle-group">
        <div class="group-item"></div>
        <img
          class="vuesaxlinearnotification-bin-icon"
          alt=""
           src= "{% static 'images/vuesaxlinearnotificationbing.svg
        '%}"
        />
      </button>
      <div class="group-div">
        <div class="welcome-amanda-parent">
          <div class="welcome-amanda">Welcome, Mashrur</div>
          <div class="tue-07-june">Tue, 07 June 2022</div>
        </div>
      </div>
      <div class="filter">Filter</div>
      <img
        class="vuesaxbolddollar-circle-icon"
        alt=""
        src="{%static 'images/vuesaxbolddollarcircle.svg'%}"
      /><img
        class="vuesaxbolddiscount-shape-icon"
        alt=""
        src="{%static 'images/vuesaxbolddiscountshape.svg'%}"
      /><img
        class="vuesaxboldhouse-icon"
        alt=""
        src="{%static 'images/vuesaxboldhouse.svg'%}"
      /><img
        class="vuesaxboldshare-icon"
        alt=""
        src="{%static 'images/vuesaxboldshare.svg'%}"
      />
      <div class="frame-parent">
        <div class="location-parent">
          <h5 class="location">Location</h5>
          <select class="scotland-wrapper" required>
            <option value="Dhaka">Dhaka</option>
          </select>
        </div>
        <div class="type-of-place-parent">
          <h5 class="location">Type of Place</h5>
          <div class="type-of-place-parent">
            <div class="frame-container">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxboldtick-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxboldticksquare.svg'%}"
                />
                <h4 class="all">All</h4>
              </div>
              <div class="vuesaxlinearminus-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h3 class="all">Office</h3>
              </div>
            </div>
            <div class="frame-div">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h3 class="all">Building</h3>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Shop</h4>
              </div>
            </div>
            <div class="frame-parent1">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Apartment</h4>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">House</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="price-range-parent">
          <h5 class="location">Price Range</h5>
          <div class="group-parent">
            <img class="group-inner" alt="" src="{%static 'images/group-239481.svg'%}" />
            <div class="parent">
              <div class="div">$100</div>
              <div class="div1">$10000</div>
            </div>
          </div>
        </div>
        <div class="location-parent">
          <h5 class="location">Size</h5>
          <div class="frame-parent2">
            <input class="frame-child" type="text" placeholder="sq ft" /><input
              class="frame-child"
              type="text"
              placeholder="sq ft"
            />
          </div>
        </div>
        <div class="type-of-place-parent">
          <h5 class="location">Features</h5>
          <div class="type-of-place-parent">
            <div class="frame-parent4">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxboldtick-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Ac & Heating</h4>
              </div>
              <div class="vuesaxlinearminus-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Clubhouse</h4>
              </div>
            </div>
            <div class="frame-parent5">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Dishwasher</h4>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Spa</h4>
              </div>
            </div>
            <div class="frame-parent6">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Balcony</h4>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Pool</h4>
              </div>
            </div>
            <div class="frame-parent7">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Fitness Center</h4>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Valet Parking</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="type-of-place-parent">
          <h5 class="location">Style</h5>
          <div class="frame-parent8">
            <div class="frame-parent9">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxboldtick-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxboldticksquare.svg'%}"
                />
                <h4 class="all">A-Frame</h4>
              </div>
              <div class="vuesaxlinearminus-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Dome</h4>
              </div>
            </div>
            <div class="frame-parent10">
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Cottage</h4>
              </div>
              <div class="vuesaxboldtick-square-parent">
                <img
                  class="vuesaxlinearminus-square-icon"
                  alt=""
                  src="{%static 'images/vuesaxlinearminussquare.svg'%}"
                />
                <h4 class="all">Spanish</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-div"></div>
      <div class="desktop-43-child1"></div>
      <div class="desktop-43-child2"></div>
      <div class="desktop-43-child3"></div>
      <div class="desktop-43-child4"></div>
      <div class="desktop-43-child5"></div>
      <div class="desktop-43-child6"></div>
      <div class="desktop-43-child7"></div>
      <div class="desktop-43-child8"></div>
      <div class="desktop-43-child9"></div>
      <div class="desktop-43-child10"></div>
      <div class="desktop-43-child11"></div>
      <div class="results-in-scotland-container">
        <span class="results">398 Results </span
        ><span class="in-scotland">in Dhaka</span>
      </div>
      <img class="rectangle-icon" alt="" src="{%static 'images/rectangle-30510.svg'%}" /><img
        class="desktop-43-child12"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child13"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child14"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child15"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child16"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child17"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child18"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child19"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child20"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child21"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      /><img
        class="desktop-43-child22"
        alt=""
        src="{%static 'images/rectangle-30510.svg'%}"
      />
      <div class="modern-house-parent">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""

            src="{%static 'images/vuesaxlinearlocation.svg'%}"
          />
          <div class="scotland">Bangladesh</div>
        </div>
      </div>
      <div class="modern-house-group">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-container">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
             src="{%static 'images/vuesaxlinearlocation.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent1">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img class="vuesaxlinearlocation-icon" alt="" />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent2">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent3">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent4">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent5">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img class="vuesaxlinearlocation-icon" alt="" />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent6">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent7">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent8">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img
            class="vuesaxlinearlocation-icon"
            alt=""
            src="{%static 'images/vuesaxlinearlocation3.svg'%}"
          />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <div class="modern-house-parent9">
        <h4 class="all">Modern House</h4>
        <div class="vuesaxlinearlocation-parent">
          <img class="vuesaxlinearlocation-icon" alt="" />
          <div class="scotland">Dhaka</div>
        </div>
      </div>
      <img class="group-icon" alt="" src="{% static 'images/group-239484.svg'%}" /><img
        class="desktop-43-child23"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img
        class="desktop-43-child24"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img class="desktop-43-child25" alt="" /><img
        class="desktop-43-child26"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img
        class="desktop-43-child27"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img
        class="desktop-43-child28"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img class="desktop-43-child29" alt="" /><img
        class="desktop-43-child30"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img
        class="desktop-43-child31"
        alt=""
        src="{% static 'images/group-239484.svg'%}"
      /><img
        class="desktop-43-child32"
        alt=""
        src="{% static 'images/group-239484.svg'%}
        "
      /><img class="desktop-43-child33" alt="" /><img
        class="desktop-43-child34"
        alt="Logo"
        src="{% static 'images/rectangle-30470@2x.png'%}"
      />
     
      <img
        class="vuesaxboldgallery-icon"
        alt=""
        src="{% static 'images/vuesaxboldgallery.svg'%}"
      /><img
        class="vuesaxboldgallery-icon1"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      />
     <img
        class="vuesaxboldgallery-icon2"
        alt=""
        src="{% static 'images/vuesaxboldgallery.svg'%}"
      /><img
        class="vuesaxboldgallery-icon3"
        alt=""
        src="{% static 'images/vuesaxboldgallery.svg'%}"
      /><img
        class="vuesaxboldgallery-icon4"
        alt=""
        src="{% static 'images/vuesaxboldgallery.svg'%}"
      /><img
        class="vuesaxboldgallery-icon5"
        alt=""
        src="{% static 'images/vuesaxboldgallery.svg'%}"
      />
     
      
      <img
        class="vuesaxboldgallery-icon6"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon7"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon8"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon9"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon10"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon11"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon12"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      /><img
        class="vuesaxboldgallery-icon13"
        alt=""
        src="{% static 'images/vuesaxboldgallery1.svg'%}"
      />
    </div>

    <script>
      var buy = document.getElementById("buy");
      if (buy) {
        buy.addEventListener("click", function () {
          window.open("#");
        });
      }
      </script>
  </body>
</html>
