{% extends "base.html" %} {% block content %}
<!-- first checking does user already logged in -->
{% if request.user.is_authenticated %}
<div style="height: 92vh" class="d-flex justify-content-center">
  <div class="my-auto">
    <form action="{%url 'logout'%}" method="POST">
      {% csrf_token %}
      <h3 class="">Are you sure you want to logout ?</h3>
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-danger btn-sm">Yes, Logout</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<h3 class="text-center">
  You're not logged in. Would you like to <a href="{%url 'login'%}">login</a>?
</h3>
{% endif %} {% endblock %}
