
<div class="mt-5 me-5 mb-4">
  <h4 class="mt-2 mb-5 text-secondary text-decoration-underline text-center">
    Fill With Your Land Details
  </h4>
  <form
    class="form"
    action="{% url 'sell_property' 'land' %}"
    method="POST"
    enctype="multipart/form-data"
    id="sell-land-form"
  >
    {% csrf_token %}
    <div class="input-group mb-3 mt-4" required>
      <select class="form-select mb-3" id="division" name="division">
        <option value="" selected="selected">chose your division</option>
      </select>
    </div>
    <div class="input-group mb-3" required>
      <select class="form-select mb-3" id="district" name="district">
        <option value="" selected="selected">select district</option>
      </select>
    </div>

    <div class="input-group mb-3" required>
      <select class="form-select mb-3" name="location" id="location" >
         <option value="" selected="selected">select your property located area</option>
      </select> 
      </div>

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-bangladeshi-taka-sign text-center pt-2"></i>
      </span>
      <input
        type="text"
        class="form-control w-25 me-2"
        aria-label="Amount (to the nearest dollar)"
        name="price"
        placeholder="Ammount You Require For"
        required
      />

      <select class="form-select ms-3" name="ammount" id="inputGroupSelect02">
        <option selected value="Lakhs">Lakhs</option>
        <option value="Crore">Crore</option>
      </select>
    </div>

    <div class="d-flex gap-5">
      <div class="input-group mb-3">
        <input
          type="text"
          name="plots_count"
          class="form-control w-25 me-2"
          aria-label="Amount (to the nearest dollar)"
          placeholder="Numerical Value Of Your Plot"
          required
        />

        <select
          class="form-select ms-3"
          name="land_type"
          id="inputGroupSelect02"
        >
          <option selected value="Bigha">Bigha</option>
          <option value="Acre">Acre</option>
          <option value="Dcm">Dcm</option>
          <option value="Percantage">Percantage</option>
        </select>
      </div>
    </div>

    <textarea
      name="details"
      id=""
      cols="80"
      rows="8"
      class="form-control mt-4 mb-4"
      style="resize: none"
      placeholder="Write Details About Your Land Ellaborately"
    ></textarea>

    <div class="d-flex gap-3">
      <label class="form-label fw-bold text-secondary mt-1" for="customFile"
        >Upload Photo Of Your Land</label
      >
      <input
        type="file"
        class="form-control mb-5 w-50"
        id="customFile"
        name="photo_url"
      />
    </div>
    <input class="btn bg-color ms-2 me-3 mb-5" type="submit" value="Submit" />
    <input class="btn bg-color ms-3 mb-5" type="reset" value="Reset" />
  </form>
</div>

