<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basha Lagbe</title>

    {% comment %} fontawesome link {% endcomment %}
    <script src="https://kit.fontawesome.com/d543e0cd2f.js" crossorigin="anonymous"></script>

    {% comment %} bootstrap {% endcomment %}
      <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
         crossorigin="anonymous"
         />

    {% comment %} custom css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/owner_navbar.css'%}" type="text/css" />
     

   
  </head>
  <body>
     
    <div class = "container">
      <div class = "row">

    <div class="col-3 border-end border-primary">    
        {% include 'OwnerDashboard/navbar.html' %}
    </div>
    
       
 
  <div class="col-9 mt-5">
    {%for msg in messages%}
    <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
       <strong>Hey!</strong> {{msg}}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
       </button>
     </div>
    {%endfor%}

     <h3 class="text-center">Update Your Profile Here </h3>
     
     <form class="form me-5" id="user_account" method="POST"  enctype='multipart/form-data'
     >
        {% csrf_token %}

        {% if request.user.user_image %}
        <div class="d-flex justify-content-center"> 
          <img src = "{{user_image.url}}" name="user_photo" class = "img-fluid mt-4 w-25 rounded-circle">
        </div>

        {% else %}
        <div class="d-flex justify-content-center"> 
          <img src = "{%static 'images/user-profile.png'%}" name="user_photo" class = "img-fluid mt-4 w-25 rounded-circle">
        </div>
        {% endif %}

      <div class="form-check mt-5">
           
        <div class="mt-2 mb-4">
              <label class="fs-5 fw-bold">Your First Name</label>
              <input type="text" name="first_name"
              value = "{{ user_first_name }}" class="form-control mt-2" /> 
        </div>

        <div class="mt-2 mb-4">
          <label class="fs-5 fw-bold">Your Last Name</label>
          <input type="text" name="last_name" 
          value = "{{ user_last_name }}" 
          class="form-control mt-2" /> 
    </div>

    <div class="mt-2 mb-4">
      <label class="fs-5 fw-bold">Your Phone</label>
      <input type="text" name="phone" 
      value = {{user_phone_number}}
      class="form-control mt-2" 
      />
</div>
  <div class="mt-2 mb-4">
    <label class="fs-5 fw-bold">Your Email</label>
    <input type="text" name="email" 
    value = "{{ user_email }}" 
    class="form-control mt-2" disabled/> 
  </div>

  <div class="mt-2 mb-4">
    <label class="fs-5 fw-bold">Your Address</label>
    <input type="text" name="address" class="form-control mt-2" value="{{user_address}}"/> 
  </div>

  {%if not request.user.is_land_owner %}
  <div class="form-check mb-3">
    <input
      class="form-check-input"
      name="is_land_owner"
      type="checkbox"
      value="true"
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Do you want to sell property?
    </label>
  </div>
  {% endif %}

  <div class="d-flex gap-3 mt-5">
    <label class="form-label text-color fw-bold" for="customFile">Update Your Profile Photo</label>
    <input type="file" name="photo_url" class="form-control mb-5 w-50" id="customFile" />
  </div>

  <div class="mt-5">
    <input class="btn bg-color ms-2 me-3 mb-5" type="submit" value="Update" />
    <input class="btn bg-color ms-3 mb-5" type="reset" value="Reset" />
  </div>
  </form>
 </div>

  </div>

  




    


    {% comment %} <script>
      const toastTrigger = document.getElementById('ToastBtn')
  const toastLiveExample = document.getElementById('liveToast')
  if (toastTrigger) {
    toastTrigger.addEventListener('click', () => {
      const toast = new bootstrap.Toast(toastLiveExample)
  
      toast.show()
    })
  }
  
      </script> {% endcomment %}

    <!-- bootstrap cdn -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}

    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"
  ></script>
  </body>
</html>

