<!DOCTYPE html>
{%load static%}
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>House rent</title>
      {% comment %} fontawesome link {% endcomment %}
      <script src="https://kit.fontawesome.com/d543e0cd2f.js" crossorigin="anonymous"></script>
      {% comment %} bootstrap {% endcomment %}
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
         crossorigin="anonymous"
         />

      {% comment %} custom css {% endcomment %}
      <link rel="stylesheet" href="{% static 'css/owner_navbar.css'%}" type="text/css" />
      <script>
         var subjectObject = {
           "Dhaka": {
             "Dhaka": ["mirpur10", "Gulsan", "Agargaw", "Motizil","Bosundara"]  
           },
           "Chittagong": {
             "Chittagong": ["Andorkilla", "New market", "Chawbazar","Kulshi"],
           }
         }
         window.onload = function() {
           var subjectSel = document.getElementById("division");
           var topicSel = document.getElementById("district");
           var chapterSel = document.getElementById("location");
           for (var x in subjectObject) {
             subjectSel.options[subjectSel.options.length] = new Option(x, x);
           }
           subjectSel.onchange = function() {
            //empty Chapters- and Topics- dropdowns
             chapterSel.length = 1;
             topicSel.length = 1;
             //display correct values
             for (var y in subjectObject[this.value]) {
               topicSel.options[topicSel.options.length] = new Option(y, y);
             }
           }
           topicSel.onchange = function() {
            //empty Chapters dropdown
            chapterSel.length = 1;
             //display correct values
             var z = subjectObject[subjectSel.value][this.value];
             for (var i = 0; i < z.length; i++) {
               chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
             }
           }
         }
         </script>
   </head>
   <body>
      <div class = "container" style="background-color: aquamarine;">
      <div class = "row">
         <div class="col-3 border-end border-primary">    
            {% include 'OwnerDashboard/navbar.html' %}
         </div>
        
         <div class ="col-9" style="background-color:skyblue">
            <h4 class="text-center mt-5 text-decoration-underline text-secondary"> Give Rent Your Property From Here </h4>
            {%for msg in messages%}
            <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
               <strong>Hey!</strong> {{msg}}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
               </button>
             </div>
            {%endfor%}
            <!-- Default checkbox -->
            <form class="form me-5" id="vehicleform" method="POST"  enctype='multipart/form-data'
            >
               {% csrf_token %}

               <div class="form-check mt-5">
                  <div class="input-group mb-3">
                     <select class="form-select mb-3" name="vehicle_type" required>
                       <option value="" selected disabled>vehicle_type</option>
                       <option value="truck">truck</option>
                       <option value="mini truck">mini truck</option>
                       
                     </select> 
                   </div>
               
               <div class="mt-4">
                  <div class="mt-2">
                     <label>Availabel time</label>
                     <input type="text" name="available_time" placeholder="enter month" class="form-control mt-2" required /> 
                  </div>
               </div>
               <div class="mt-5">
                  <div class="input-group mb-3 mt-4">
                     <select class="form-select mb-3" id="division" name="division" required>
                       <option value="" disabled selected>Choose your division</option>
                     </select>
                   </div>
                   
                   <div class="input-group mb-3">
                     <select class="form-select mb-3" id="district" name="district" required>
                       <option value="" disabled selected>Select district</option>
                     </select>
                   </div>
                   
                   <div class="input-group mb-3">
                     <select class="form-select mb-3" name="location" id="location" required>
                       <option value="" disabled selected>Select your property located area</option>
                     </select> 
                   </div>
               <div class="input-group mb-3 mt-4">
               <span class="input-group-text">
               <i class="fa-solid fa-bangladeshi-taka-sign text-center pt-2"></i>
               </span>
               <input type="text" class="form-control w-25 me-2" aria-label="Amount (to the nearest dollar)" placeholder="Ammount You Require For" name="money" required>
               </div>
               </div>
               

               <div class="">
                  <div class=" ">
                     <label>Phone Number</label>
                     <input type="tel" name="phoneNumber" placeholder="+880" pattern="^\+?(88)?0?1[3456789][0-9]{8}\b" class="form-control mt-2" required /> 
               </div>
               <textarea name="details" id="" cols="80" rows="8" class="form-control mt-4 mb-4" style="resize:none;" placeholder="Write Details About Your Property Ellaborately" name="details" required></textarea>
               <div class="d-flex gap-3">
               <label class="form-label text-color fw-bold" for="customFile">Upload Photo Of Your vehicle</label>
               <input type="file" name="vehicleimage" class="form-control mb-5 w-50" id="customFile" required />
               </div>
               <input class="btn bg-color ms-2 me-3 mb-5" type="submit" value="Submit">
               <input class="btn bg-color ms-3 mb-5" type="reset" value="Reset">
            </form>
            </div>
         </div>
      </div>

      
      <!-- bootstrap cdn -->
      <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
