<div class="col-9 mt-5">
    <h4 class="mt-2 mb-3 text-decoration-underline text-center"> Find Your Dream Place </h4>
    <form class="form">
        <div class="input-group mb-3 mt-4" required>
            <select class="form-select mb-3" id="inputGroupSelect02">
              <option selected>Choose Divission</option>
              <option value="1">Dhaka</option>
              <option value="2">Chattogram</option>
              <option value="3">Rajshahi</option>
              <option value="4">Khulna</option>
              <option value="5">Barishal</option>
              <option value="6">Sylhet</option>
              <option value="7">Rangpur</option>
              <option value="8">Mymenshingh</option>
            </select>
        </div>  
        <div class="input-group mb-3" required>
            <select class="form-select mb-3" id="inputGroupSelect02" >
              <option selected>Choose District</option>
              <option value="1">Dhaka</option>
              <option value="2">Gazipur</option>
              <option value="3">Chattogram</option>
              <option value="3">Savar</option>
              <option value="3">Rajshahi</option>
              <option value="3">Sylhet</option>
              <option value="3">Barishal</option>
            </select> 
        </div>

        <div class="input-group mb-4">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Your preffered Area" required>
          </div>

          <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-bangladeshi-taka-sign text-center pt-2"></i>
                </span>
                <input type="text" class="form-control w-25 me-2" aria-label="Amount (to the nearest dollar)" placeholder="Your Maximum Budget in Taka " required>
        
            <select class="form-select mb-3 ms-3" id="inputGroupSelect02">
                <option selected>Lakhs</option>
                <option value="2">Crore</option>

              </select> 
          </div>
          
          <textarea name="details" id="" cols="80" rows="8" class="form-control mt-4 mb-4" style="resize:none;" placeholder="If you have any other requirements write details here. (Optional)"></textarea>

          <input class="btn bg-color ms-2 me-3 mb-5" type="submit" value="Search">
          
          <input class="btn bg-color ms-3 mb-5" type="reset" value="Reset">
    </form>
</div>