{% load static %}


    
      <img src = "{%static 'images/hacker.png'%}" class = "w-25 mt-4 m-img d-block">
      <button class="btn mt-3 bg-color text-white px-3 w-75"> 
        update picture
      </button>
      <input class="form-control mt-4 me-3" type="search" placeholder="Search" aria-label="Search">
      <p class="mt-5 w-100 bg-color text-white rounded p-2"> Menu </p>
    
   <div class= "d-flex flex-column justify-content-between">
      
      <div>

        <button class="btn py-2 object-btn text-color fs-5 w-50 mb-3 ms-2"> 
          <i class="fa-solid fa-gauge-high"></i> 
          <a href="{%url 'user-home'%}" class="text-color"> Home </a></button>

        <button class="btn py-2 object-btn text-color fs-5 w-50 mb-3"> 
          <i class="fa-solid fa-sack-dollar">  </i>       
          <a href="{%url 'user-buy'%}" class="text-color"> Buy </a></button>

        <button class="btn py-2 object-btn text-color fs-5 w-50 mb-3"> 
          <i class="fa-brands fa-sellcast"></i>       
          <a href="{%url 'user-show'%}" class="text-color"> Show </a></button>

        <button class="btn py-2 object-btn text-color fs-5 w-50 mb-3"> 
          <i class="fa-solid fa-house"></i>  
          <a href="{%url 'user-rent'%}" class="text-color"> Rent </a></button>


        <button class="btn py-2 object-btn text-color fs-5 w-75 mb-3 xtra-margin-act"> 
          <i class="fa-solid fa-gear"></i>     
          <a href="#" class="text-color"> Account </a></button>
      </div>
    
      <div>
        <button class="btn py-2 mt-5 bg-color fs-5 w-75"> 
          <i class="fa-solid fa-right-from-bracket"></i>      
          <a href="{% url 'logout' %}" class="text-white"> Log Out </a></button>
      </div>
      

    </div>
  


{% comment %} 
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div>
   {% endcomment %}

  

  {% comment %} </div> {% endcomment %}

{% comment %} </div> {% endcomment %} 


