{% extends 'base.html' %} {% load static %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center text-secondary"
  style="height: 80vh"
>
  <div class="card login_form_wrapper py-2 px-2" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <img
          src="{% static 'images/check.png' %}"
          style="width: 70px; height: 70px"
          alt="check image"
        />
      </div>
      <h4 class="card-text">
        User created successfully!! please <a href="{%url 'login'%}">login</a>
      </h4>
    </div>
  </div>
</div>
{% endblock %}
