{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- banner section -->
<div id="bannerBG">
  <h1 class="centered-text">A Complete Solution For</h1>
  <h2 class="text-bold">House Owners</h2>
  <h4 class="pt-2">House management system</h4>
  <p>
    Super easy to use & Time Saving
    <br />
    Proper house management system
  </p>
  <button class="roundbtn">Price Plan</button>
</div>
<!-- banner section  end -->

<!-- ABout us section -->
<div class="aboutdiv">
   <div class="container pt-5 pb-5">
      <div class="row justify-content-around">
         <div class="col-12 col-md-6">           
            <h6>
              About us
           </h6>
           <h2>
              About House Rent
           </h2>
           <img class="pt-2" src="{%static 'images/Group10.png'%} " alt="Image "/>
           <p class="pt-2"> 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
           </p> 
         </div>
         <div class="col-12 col-md-6">
         <div class="d-flex justify-content-end"><img src="{% static 'images/im1.png' %}"  alt="about image"/></div>
         </div>
      </div>
    </div>
  </div>
</div>

<!-- ABout us section end -->

{% include "Components/featured.html" %}
{% include "Components/deal.html" %}
{% include "Components/findhome.html" %}

{% include "Components/aboutus.html" %}
{% include "Components/numbers.html" %}
{% include "Components/landloard.html" %}

<!-- {% include "Components/OtherFeauture.html" %}
{% include "Components/newslatter.html" %} -->
{% include "Components/contactus.html" %}


<!-- Footer Area End -->
{% include "Components/footer.html" %}



{% endblock %}




