{% extends 'base.html' %} {% load static %} {% block content %}

<section class="vh-70 mt-4">
  <div class="container">
    <div class="row mb-5">
      <div
        class="col-lg-6 px-0 px-lg-4 d-none d-lg-block d-lg-flex align-items-lg-center"
      >
        <img
          src="{% static 'images/login_image.png' %}"
          alt="Login image"
          class="login_img pt-5"
        />
      </div>

      <div
        class="col-12 mt-4 mt-md-0 px-0 px-lg-4 col-lg-6 text-secondary d-flex justify-content-center justify-content-lg-end align-items-center"
      >
        <div
          class="login_form_wrapper h-custom-2 mt-md-5 mt-xl-n5 px-5 px-lg-4 px-xl-5 pt-5 pt-lg-4 pt-xl-5 pb-4 pb-lg-2 pb-xl-4"
        >
          <form class="login_form" method="POST">
            <h2
              class="mb-3 pb-3"
              style="letter-spacing: 1px; color: #2c74b3; font-weight: bold"
            >
              Welcome
            </h2>
            {% csrf_token %}
            <div class="form-outline mb-3">
              <input
                type="email"
                name="email"
                id="form2Example18"
                class="form-control form-control-lg"
                required
              />
              <label class="form-label" for="form2Example18"
                >Email Address</label
              >
            </div>

            <div class="form-outline mb-3">
              <input
                type="password"
                id="form2Example28"
                name="password"
                class="form-control form-control-lg"
                required
              />
              <label class="form-label" for="form2Example28">Password</label>
            </div>

            <div class="pt-1 mb-3">
              <button class="fw-bold btn_hover" type="submit">Login</button>
            </div>
            <p class="">
              Don't have an account?
              <a href="/account/register/" class="" style="color: #2c74b3"
                >Register here</a
              >
            </p>
          </form>
          {% if error %}
          <p class="text-danger">{{error}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
