<!-- about us content -->
{% load static %}


<div class="aboutcontents">
    <div class="container  pt-4">
       <h4 class="centered">
          ABOUT US
       </h4>
       <h2>
          About <span class="text-bold ">
          House Rent
          </span>
       </h2>
       <img class="pt-2" src="{%static 'images/Group11.png'%} " alt="Image "/>
       <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard dummy.
       </p>


       <!-- card for about section -->
       <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>
            

            <div class="col-md-4 col-lg-4 col-sm-12 mt-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">  <img class="pt-2" src="{%static 'images/grp17.png'%} " alt="Image "/> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Basha Lagbe</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Rent</span> </div>
                    </div>
                    <div class="mt-1 text-start">
                        <h3 class="heading">Super Easy</h3>
                        <p>Super easy to use & Time 
                            Saving.<br/>
                            Super easy to use & Time 
                                Saving.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
 </div>
<!-- about us content end -->

