{% load static %}


<div class="contactus">
    <div class="container">
        <div class="row">
           

            <div class="col-lg-6 col-md-12 col-sm-12  text-start pt-sm-4 getstart">
                <h4>
                    SUBSCRIBE
                </h4>
                <h2>
                    GET STARTED Today
                </h2>
                <img class="pt-2 " src="{%static 'images/Group3.png' %}" alt="Group icon"/> 

                <div class="alert alert-dark" role="alert">
                    GET STARTED Today
                  </div>

                <p class="pt-2">
                    Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.
                </p>

                <div class="alert alert-dark" role="alert">
                    GET STARTED Today
                  </div>
                  <div class="alert alert-dark" role="alert">
                    GET STARTED Today
                  </div>
               

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 pt-sm-5 pb-5 text-start pt-sm-4 contactoday">
                <h4>
                    SUBSCRIBE
                </h4>
                <h2>
                    GET STARTED Today
                </h2>
                <img class="pt-2" src="{%static 'images/Group3.png' %}" alt="Group icon"/> 

                <div class="row pt-4">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Your Name " aria-label="Your name">
                    </div>
                    <div class="col">
                      <input type="email" class="form-control" placeholder="Your Email " aria-label="Email name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Your Maasage " rows="4"></textarea>
                      </div>

                    <div>
                        <button class="subscribebtn w-30">SEND</button>

                    </div>
                  </div>

            </div>
        </div>


    </div>
</div>