{%load static%}

<div>
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="{%static 'images/Frame31.png' %}" class="img-responsive" alt="img"/>

                <h2 class="text-start">
                    We make it easy for<br/> tenants and landlords.
                </h2>
                <p>
                    Whether it's selling your current home, getting financing, or buying a new home, we make it easy and efficient. The best part? you'll save a bunch of money and time with our services.
                </p>

                <button class="roundbtn">See more ></button>

                </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="{%static 'images/gp5.png' %}" class="img-fluid" alt="img"/>
            </div>
        </div>
    </div>
</div>