{%load  static%}


<div >

    <div class="container">

        <h2 class="pt-4">Minimum living cost takes care of everything</h2>
        <div class="row pt-4">
          <div class="col-lg-5 col-md-5 col-sm-12">
              <img src="{%static 'images/pix1.png'%}" class="" slt="lgobanner"/>
          </div>
          <div class="col-lg-6 col-md-12  col-sm-12">


         <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r1.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                  Pay as Little<br/>
                  as possible!
                </p>
            </div>


            <div class="col-md-6  col-lg-4 col-sm-12 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r2.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                    Enjoy wisdom<br/>
                    of community!
                </p>
            </div>


            <div class="col-md-6 col-lg-4 col-sm-6 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r3.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                    Let's somebody else<br/>
                    take care of Landlord!
                </p>
            </div>




            <div class="col-md-6  col-lg-4 col-sm-6 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r4.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                    Enjoy peaceful<br/>
                    Environment!
                </p>
            </div>




            <div class="col-md-6  col-lg-4 col-sm-6 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r3.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                    Stay Safe!<br/>
                    Save Money!
                </p>
            </div>





            <div class="col-md-6  col-lg-4 col-sm-6 pt-4 ps-5">
                <div class="cardimg">
                    <img src="{%static 'images/r3.png'%}" alt="icon"/>
                   
                </div>
                <p class="text-start pt-1">
                    Pay for what<br/>
                    you use !
                </p>
            </div>
  
         </div>
            

          </div>

        
      
        </div>
      
      </div>
</div>