{%load static%}

<div>
    <div class="container pt-5">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>
                    The new way to find<br/> your home
                </h2>
                <p>
                    Find your dream place to live in with more than <br/>10k+ properties listed.
                </p>
               

                </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="{%static 'images/homepic.png' %}" class="img-fluid" alt="img"/>
            </div>
        </div>

        <div class="row pt-5 text-center">
            <div class="col-sm-12  col-xl-4	col-xxl-4 col-lg-4 col-md-4  ">
                
                <img src="{%static 'images/Frame46.png' %}" class="img-fluid" alt="img"/>
                <h2 class="mt-1">
                    7.4%
                </h2>
                <p class="mt-1" text-secondary>
                    Property Return Rate
                </p>
            </div>



            <div class="col-sm-12  col-xl-4	col-xxl-4 col-lg-4 col-md-4  ">
                
                <img src="{%static 'images/search.png' %}" class="img-fluid" alt="img"/>
                <h2 class="mt-1">
                   3856
                </h2>
                <p class="mt-1" text-secondary>
                    Property Return Rate
                </p>
            </div>



            <div class="col-sm-12  col-xl-4	col-xxl-4 col-lg-4 col-md-4  ">
                
                <img src="{%static 'images/dollar.png' %}" class="img-fluid" alt="img"/>
                <h2 class="mt-1">
                   2580
                </h2>
                <p class="mt-1" text-secondary>
                    Daily Completed Transactions
                </p>
            </div>

        </div>
    </div>
</div>