{% load static %}

<div class="footer">
    <div class="container">
<div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <img
        src="{% static 'images/logo.png'%}"
        alt="Logo"
        width="130"
        height="20"
        class="d-inline-block align-text-top"
      />
      <p class="pt-4">
        Lorem Ipsum is simply dummy text of the printing<br/>
and typesetting industry.


      </p>
   <p>
    Follow us
   </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <h4>
            Resource
        </h4>
        <p>
            About us
        </p>
        <p>
            Features
        </p>
        <p>
            Contact Us
        </p>
        <p>
            Home
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <h2>
            Give us a  call:
        </h2>

        <p>
            Call:+88017123548
        </p>
        <hr/>

        <p>
           Email:basahlage@gmail.com
        </p>
        <hr/>

        <p>
            Need Help?
        </p>
       
    </div>
    
   
</div>
</div>
</div>

<div class="privacypolicy">
    All rights reserved by BashaLagbe &copy;
</div>