{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img
        src="{% static 'images/logo.png'%}"
        alt="Logo"
        width="130"
        height="20"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'index'%}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'about'%}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'featured'%}">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'contact'%}">Contact us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <div class="dropdown show">
          <a
            class="btn btn-primary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="d-flex">
              <a href="{%url 'account'%}" class="nav-link">
                <i class="fa-solid fa-user"></i> {{user.first_name}}</a
              >
            </div>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'dashboard'%}"
                ><i class="fa-solid fa-address-card"></i> Dashboard</a
              >
            </li>

            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link"
                ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
              >
            </li>
          </div>
        </div>

        {% else %}

        <button type="button" class="loginbtn">
          <a href="{%url 'login'%}" class="text-style-none"> Log in</a>
        </button>
        <button type="button" class="buttn1">
          <a href="{%url 'register'%}" class="reg_a">Sign Up </a>
        </button>
        {%endif %}
      </ul>
    </div>
  </div>
</nav>
