{% load static %}


<div class="newslatter">
    <div class="container">
        <div class="row">
           

            <div class="col-lg-6 col-md-6 col-sm-12 pt-5 text-start pt-sm-4">
                <h4>
                    Features
                </h4>
                <h2>
                    GET STARTED Today
                </h2>
                <img class="pt-2" src="{%static 'images/Group3.png' %}" alt="Group icon"/> 
                <p class="pt-2">
                    Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.
                </p>

                <ul>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                </ul>
                <button class="subscribebtn">Subscribe Now</button>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 pt-sm-5 pb-5">
                <img src="{%static 'images/Group30.png' %}"/>
            </div>
        </div>


    </div>
</div>