{% load static %}


<div class="otherfeauer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 pt-5">
                <img src="{%static 'images/Group2.png' %}"/>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 pt-5 text-start pt-sm-4">
                <h4>
                    Features
                </h4>
                <h2>
                    Other Features
                </h2>
                <img class="pt-2" src="{%static 'images/Group3.png' %}" alt="Group icon"/> 
                <p class="pt-2">
                    Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.
                </p>

                <ul>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                    <li>
                        Super easy to use & Time Saving
                    </li>
                </ul>
                <button class="roundbtn">Price Plan</button>

            </div>
        </div>


    </div>
</div>